<%= form_with model: [ @article, @article.comments.build ] do
  |form| %>
<div class="comment-form">
  <p class="pb-2">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>

  <p class="pb-2">
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p class="pb-3">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
</div>
  <% end %>