<div class="container-fluid bg-secondary"">
    <div class="container form-control bg-secondary">
        <%= form_with model: @article do |form| %>

            <div class="container-fluid my-5">
                <p class="row text-start">
                    <%= form.label :title, class:"text-light mb-1" %><br>
                    <%= form.text_field :title %>
                </p>    
                <p class="text-warning">
                    <% @article.errors.full_messages_for(:title).each do |message| %>
                    <%= message %>
                    <% end %>
                </p>

                <p class="row text-start">
                    <%= form.label :body, class:"text-light mb-1" %><br>
                    <%= form.text_area :body %>
                </p>
                <p class="text-warning">
                    <% @article.errors.full_messages_for(:body).each do |message| %>
                    <%= message %>
                    <% end %>
                </p>

                <p class="row text-start text-light">
                    <%= form.label :status %><br>
                    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class: "py-2" %>
                </p>
                <p class="row text-start myBtn mt-4 mb-3">
                <%= form.submit %>
                </p>
            </div>
        <% end %>
    </div>
</div>
                
                