<div class="col container-fluid text-center bg-secondary mb-3 mt-3">
    <%= form_with model: @article do |form| %>
        <div class="container form-control py-5">
            <div class="row my-1 text-center p-2 mx-3">
                <div class="text-start text-light">
                    <%= form.label :title %><br>
                </div>
                <%= form.text_field :title %>
                <% @article.errors.full_messages_for(:title).each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>

            <div class="row my-1 text-center p-2 mx-3">
                <div class="text-start text-light">
                <%= form.label :body %><br>
                </div>
                <%= form.text_area :body %><br>
                <% @article.errors.full_messages_for(:body).each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>

            <div class='row my-1 text-center p-2 mx-3 form-control'>
                <div class="text-start text-light">
                <%= form.label :status %><br>
                </div>
                <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
            </div>

            <div class="row my-3 mx-4 myBtn myBtnWidth bg-secondary">
                <%= form.submit %>
            </div>
        </div>
    <% end %>
</div>