<div class="container-fluid text-center bg-secondary text-light px-5">
  <h2 class="pt-1"><%= @article.title %></h2>
  <p><%= @article.body %></p>
</div>
  
<div class="container-fluid text-center main">
  <h2>Comments:</h2>
  <%= render @article.comments %><br>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %><br>
  
  <ul class="row d-flex justify-content-center px-0 static-links">
    <li class="col-2 list-unstyled mx-4 p-1 edit"><%= link_to "Edit", edit_article_path(@article) %></li>
    <li class="col-2 list-unstyled p-1 destroy"><%= link_to "Destroy", article_path(@article), data: {
                                              turbo_method: :delete,
                                              turbo_confirm: "Are you sure?"
                                              } %></li>
    <li class="col-2 list-unstyled ms-3 p-1 articles"><%= link_to "Articles", root_path %></li>
  </ul>
</div>