<div class="col container-fluid text-center mt-3 main">
  <h2 class="pt-1"><%= @article.title %></h2><br>
  <p><%= @article.body %></p>
</div>
  
<div class="container-fluid bg-secondary my-3">

  <div class="row d-flex my-1">
    <div class="col-sm-4 px-5 my-1 mx-1 add-comment-bg">
      <h2 class="pt-5 pb-3">Add a comment:</h2>
      <%= render 'comments/form' %><br>
    </div>
    <div class="col px-5 my-5 text-light">
      <h2 class="pb-3">Comments:</h2>
      <%= render @article.comments %><br>
    </div>
  </div>
</div>
    <ul class="row-4 d-flex justify-content-center px-0 static-links">
      <li class="col-2 list-unstyled mx-4 p-1 edit"><%= link_to "Edit", edit_article_path(@article) %></li>
      <li class="col-2 list-unstyled p-1 destroy"><%= link_to "Destroy", article_path(@article), data: {
                                                turbo_method: :delete,
                                                turbo_confirm: "Are you sure?"
                                                } %></li>
      <li class="col-2 list-unstyled ms-3 p-1 articles"><%= link_to "Articles", articles_path %></li>
    </ul>
  <%# </div> %>
</div>
