<div class="col">
    <div class="container form-control">
      <%= form_with model: @user, url: sign_up_path do |form| %>

        <div class="col-lg-12 my-5">
          <p class="row text-start mb-3">
            <%= form.label :email %>
            <%= form.text_field :email, placeholder: "user@email.com" %>
          </p>
        
          <p class="row text-start mb-3">
            <%= form.label :password %>
            <%= form.password_field :password, placeholder: "password" %>
          </p>

          <p class="row text-start mb-3">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, placeholder: "confirm password" %>
          </p>

          <p class="row text-start mt-2 mb-3">
            <%= form.submit "Sign Up", class: "myBtn" %>
          </p>
      <% end %>
        </div>
    </div>
</div>
